<h4>Languages</h4>

<div class="collection">
  <div class="collection-item">
    Synonyms are used for lookups. For example "Mandarin", "Chinese mandarin", and "Mandarin Chinese" are the same
    to a human being, but not a computer. Lookups are not case-sensitive.
  </div>
</div>

<form action="/ui/languages" method="post">
  <table>
    <thead>
    <tr>
      <th>Language</th>
      <th>Synonyms</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input name="language" type="text" required placeholder="Name">
      </td>
      <td>
        <textarea name="synonyms" placeholder="Each on a new line"></textarea>
      </td>
      <td>
        <button title="Add language" class="btn-floating">
          <i class="material-icons">add</i>
        </button>
      </td>
    </tr>
    <% languages.map(({ synonyms, language, languageId }) => { %>
    <tr>
      <td><%= language %></td>
      <td><%= synonyms && synonyms.join(', ') %></td>
      <td>
        <a href="/ui/languages/<%= languageId.toString() %>/delete" title="Delete <%= language %>" class="btn-floating">
          <i class="material-icons">delete</i>
        </a>
        <a href="/ui/languages/<%= languageId.toString() %>" title="Update <%= language %>" class="btn-floating">
          <i class="material-icons">edit</i>
        </a>
      </td>
    </tr>
    <% }); %>
    </tbody>
  </table>
</form>

<script></script>
