<h4>Congregations > <%= congregation.name %> > Edit</h4>

<form action="/ui/congregations/<%= congregation.congregationId %>" method="post">
  <div class="row">
    <div class="input-field">
      <input id="name" name="name" type="text" required placeholder="Name" value="<%= congregation.name %>" class="validate"/>
      <label for="language">Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
      <select id="language" name="language" title="language" value="<%= congregation.language %>" required>
        <option>Select a language</option>
        <% languages.map(({ language }) => { %>
        <option value="<%= language %>"><%= language %></option>
        <% }) %>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
      <textarea id="synonymns" name="synonyms" title="Synonyms"
                class="material-textarea validate"><%= congregation.synonyms && congregation.synonyms.join('\n') %></textarea>
      <label for="synonyms">Synonyms: Enter one per line.</label>
    </div>
  </div>
  <div class="row">
    <input type="submit"/>
  </div>
</form>

<form action="/ui/congregationintegrations" method="post">
  <h5>Source Congregations</h5>
  <blockquote>You can only import/export data from <em>Source</em> congregations</blockquote>
  <table>
    <thead>
    <tr>
      <th>Source</th>
      <th>Language</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input name="congregationId" value="<%= congregation.congregationId %>" style="display: none"/>
        <input name="destinationCongregationId" value="<%= congregation.congregationId %>" style="display: none"/>
        <select name="sourceCongregationId" required>
          <option value="-1" selected="selected">Select congregation</option>
          <% congregations.map(({ congregationId, name, language }) => { %>
          <option value="<%= congregationId %>"><%= name %></option>
          <% }); %>
        </select>
      </td>
      <td>
        <select name="language">
          <option selected="selected">Any</option>
          <% languages.map(({ language }) => { %>
          <option value="<%= language %>"><%= language %></option>
          <% }); %>
        </select>
      </td>
      <td>
        <button title="Add congregation" class="btn-floating">
          <i class="material-icons">add</i>
        </button>
      </td>
    </tr>
    <% congregation.integrationSources.map(({ sourceCongregation: { congregationId, name }, language }) => { %>
    <tr>
      <td><%= name %></td>
      <td><%= language || 'Any' %></td>
      <td>
        <a
          href="/ui/congregationintegrations/<%= congregationId %>/<%= congregation.congregationId %>/delete?congregationid=<%= congregation.congregationId %>&language=<%= language %>"
          title="Delete <%= name %>"
          class="btn-floating">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
    <% }); %>
    </tbody>
  </table>
</form>
