<h4>Congregations</h4>
<blockquote>
  <div style="display: flex; align-items: center"><i class="material-icons teal-text">delete</i> - Delete</div>
  <div style="display: flex; align-items: center"><i class="material-icons teal-text">edit</i> - Edit name, language, or data sources</div>
  <div style="display: flex; align-items: center"><i class="material-icons teal-text">favorite_border</i> - Set your current congregation</div>
  <div style="display: flex; align-items: center"><i class="material-icons teal-text">favorite</i> - Your congregation</div>
</blockquote>
<form action="/ui/congregations" method="post">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input name="name" type="text" required placeholder="Create a new congregation">
      </td>
      <td>
        <select name="language" title="language" required>
          <option value="">Select a langage</option>
          <% languages.map(({ language }) => { %>
          <option><%= language %></option>
          <% }) %>
        </select>
      </td>
      <td>
        <button title="Add congregation" class="btn-floating">
          <i class="material-icons">add</i>
        </button>
      </td>
    </tr>
    <% congregations.map(({ name, language, congregationId }) => { %>
    <tr>
      <td><%= name %></td>
      <td><%= language %></td>
      <td>
        <a href="/ui/congregations/<%= congregationId.toString() %>/delete" title="Delete <%= name %>" class="btn-floating">
          <i class="material-icons">delete</i>
        </a>
        <a href="/ui/congregations/<%= congregationId.toString() %>" title="Update <%= name %>" class="btn-floating">
          <i class="material-icons">edit</i>
        </a>
        <button
          class="btn-floating"
          type="button"
          data-congregation-id="<%= congregationId %>"
          data-toggle-congregation
          onclick="onToggleCongregation(<%= congregationId %>, '<%= name %>')"
        >
          <i class="material-icons" data-current="false">favorite_border</i>
        </button>
      </td>
    </tr>
    <% }); %>
    </tbody>
  </table>
</form>
<script>
  function onToggleCongregation(congregationId, congregationName) {
    const old = document.querySelector(`button[data-congregation-id="${window.localStorage.getItem('congregationId')}"]`)
    if (old) {
      old.querySelector('i').innerText = 'favorite_border';
    }

    if (!congregationId) {
      return;
    }

    window.localStorage.setItem('congregationId', congregationId);
    window.localStorage.setItem('congregationName', congregationName);

    const current = document.querySelector(`button[data-congregation-id="${window.localStorage.getItem('congregationId')}"]`)
    if (current) {
      current.querySelector('i').innerText = 'favorite';
    }

    window.location.reload(true);
  }
</script>
<script>
  const current = document.querySelector(`button[data-congregation-id="${window.localStorage.getItem('congregationId')}"]`)
  if (current) {
    current.querySelector('i').innerText = 'favorite';
  }
</script>
